# Exercise - 1
Let us say your expense for every month are listed below,
1. January - 2200
2. February - 2350
3. March - 2600
4. April - 2130
5. May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and got a refund of $200. Make a correction to your monthly expense list based on this

In [1]:
# Expenses as list in monthwise order
exp = [2200,2350,2600,2130,2190]

In [2]:
# In Feb, how many dollars you spent extra compare to January?
print(exp[1]-exp[0])

150

In [4]:
# Find out your total expense in first quarter (first three months) of the year.
print(sum(exp[0:3]))

7150

In [6]:
# Find out if you spent exactly 2000 dollars in any month
print('Spent exactly $2000 in any month?:', 2000 in exp)

Spent exactly $2000 in any month?: False

In [7]:
# June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
exp.append(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]

In [8]:
# You returned an item that you bought in a month of April and got a refund of $200. 
# Make a correction to your monthly expense list based on this

exp[3] = exp[3]-200
print(exp)

[2200, 2350, 2600, 1930, 2190, 1980]

# Exercise - 2

You have a list of your favourite marvel super heroes.
heroes=['spider man','thor','hulk','iron man','captain america']

Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heroes list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [24]:
heroes=['spider man','thor','hulk','iron man','captain america']

In [19]:
# Question-1
print(len(heroes))

5

In [25]:
# Question-2
heroes.append('black panther')
print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [26]:
# Question-3
heroes.remove('black panther')
heroes.insert(3,'black panther')
print(heroes)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [27]:
# Question-4
heroes[1:3] = ['doctor strange']
print(heroes)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [31]:
# Question-5
heroes.sort()
print(heroes)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

# Exercise - 3

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [36]:
max_num = int(input('Enter the maximum number: '))
odd_list = []
i = 1
while i <= max_num:
    odd_list.append(i)
    i = i + 2

print(odd_list)

Enter the maximum number: 15
[1, 3, 5, 7, 9, 11, 13, 15]